{% extends 'flaskfarmaider.html' %}
{% block content %}
{{ macros.m_modal_start('sch-add-modal', '일정 추가', 'modal-lg') }}
<form id='sch-setting'></form>
{{ macros.m_modal_end_with_button(
  [
    ['sch-save-btn', '일정 저장'],
  ]
) }}
<form id="form_search">
    <div class="input-group mb-3">
        <div class="input-group-prepend w-25">
            <select id="order" name="order" class="form-control">
                <option value="desc">최근순</option>
                <option value="asc">오래된순</option>
            </select>
            <select id="option1" name="option1" class="form-control">
                <option value="all">전체</option>
                {% for task in TASK_KEYS %}
                <option value="{{ task }}">{{ TASKS[task]['name'] }}</option>
                {% endfor %}
            </select>
        </div>
        <input id="keyword" name="keyword" class="form-control" type="text" placeholder="검색..." aria-label="Search">
        <div class="input-group-append">
            <div class="btn-group" role="group">
                <button type="button" id="globalSearchSearchBtn" class="btn btn-outline-primary">검색</button>
                <button type="button" id="globalSearchResetBtn" class="btn btn-outline-primary">리셋</button>
            </div>
        </div>
    </div>
</form>
<div class="text-right" role="group">
    <button type="button" id="sch-add-btn" class="btn btn-lg btn-block btn-primary">일정 추가</button>
</div>
<hr class="border border-secondary">

<table id="sch-list-table" class="table table-hover table-sm table-striped align-bottom table-responsive-sm">
    <thead>
        <tr class="text-primary">
            <th scope="col" class="w-auto text-center">ID</th>
            <th scope="col" class="w-auto text-center">작업</th>
            <th scope="col" class="w-auto text-center">주기</th>
            <th scope="col" class="w-auto">내용</th>
            <th scope="col" class="w-auto text-center">활성화</th>
            <th scope="col" class="w-auto text-center">상태</th>
            <th scope="col" class="w-auto text-center">최근 실행</th>
            <th scope="col" class="w-auto text-center">메뉴</th>
        </tr>
    </thead>
    <tbody class="table-group-divider align-middle accordion" id="sch-accordion">
    </tbody>
    <tfoot>
    </tfoot>
</table>

<div id="page1"></div>
<div id="page2" disalbed class="d-none"></div>

<hr class="border border-secondary">
<!-- browser -->
<div class="input-group mb-3">
    <input id="working-directory" placeholder="/home" type="text" value="{{ args[module_name ~ '_working_directory'] }}" class="form-control" />
    <div class="input-group-append">
        <button id="working-directory-submit" type="button" class="btn btn-outline-primary">이동</button>
    </div>
</div>
</br>

<table id="brw-list-table" class="table table-hover table-striped align-bottom">
    <thead>
        <tr class="text-primary">
            <th scope="col" class="w-75 pl-3">이름</th>
            <th scope="col" class="w-auto text-right">크기</th>
            <th scope="col" class="w-auto text-center pr-3">수정한 날짜</th>
        </tr>
    </thead>
    <thead class="dir-parent"></thead>
    <tbody class="table-group-divider align-middle"></tbody>
    <tfoot></tfoot>
</table>

<script type="text/javascript">
    // assign variables
    var TASKS = JSON.parse('{{ args.tasks|tojson }}');
    var TASK_KEYS = JSON.parse('{{ args.task_keys|tojson }}');
    var STATUSES = JSON.parse('{{ args.statuses|tojson }}');
    var STATUS_KEYS = JSON.parse('{{ args.status_keys|tojson }}');
    var FF_SCHEDULE_KEYS = JSON.parse('{{ args.ff_schedule_keys|tojson }}');
    var FF_SCHEDULES = JSON.parse('{{ args.ff_schedules|tojson }}');
    var LAST_LIST_OPTIONS = "{{ args[module_name ~ '_last_list_option'] }}".split('|');
    var VFS = "{{ args.rclone_remote_vfs }}";
    var SCAN_MODES = JSON.parse('{{ args.scan_modes|tojson }}');
    var SCAN_MODE_KEYS = JSON.parse('{{ args.scan_mode_keys|tojson }}');
    var PERIODICS = JSON.parse('{{ args.periodics|tojson }}');
    var SECTIONS = JSON.parse('{{ args.sections|tojson }}');
    var SECTION_TYPES = JSON.parse('{{ args.section_types|tojson }}');
    var SECTION_TYPE_KEYS = JSON.parse('{{ args.section_type_keys|tojson }}');
    var TASK_OPTS = [
        { value: TASK_KEYS[0], name: TASKS[TASK_KEYS[0]]['name'] },
        { value: TASK_KEYS[1], name: TASKS[TASK_KEYS[1]]['name'] },
        { value: TASK_KEYS[2], name: TASKS[TASK_KEYS[2]]['name'] },
        { value: TASK_KEYS[3], name: TASKS[TASK_KEYS[3]]['name'] },
        { value: TASK_KEYS[4], name: TASKS[TASK_KEYS[4]]['name'] },
        { value: TASK_KEYS[5], name: TASKS[TASK_KEYS[5]]['name'] },
    ]
    var SCAN_OPTS = [
        { value: SCAN_MODE_KEYS[0], name: SCAN_MODES[SCAN_MODE_KEYS[0]]['name'] },
        { value: SCAN_MODE_KEYS[1], name: SCAN_MODES[SCAN_MODE_KEYS[1]]['name'] },
        { value: SCAN_MODE_KEYS[2], name: SCAN_MODES[SCAN_MODE_KEYS[2]]['name'] },
    ]
    var CLEAR_OPTS = [
        { value: SECTION_TYPE_KEYS[0], name: SECTION_TYPES[SECTION_TYPE_KEYS[0]]['name'] },
        { value: SECTION_TYPE_KEYS[1], name: SECTION_TYPES[SECTION_TYPE_KEYS[1]]['name'] },
        { value: SECTION_TYPE_KEYS[2], name: SECTION_TYPES[SECTION_TYPE_KEYS[2]]['name'] },
    ]
    var SCHEDULE_OPTS = [
        { value: FF_SCHEDULE_KEYS[0], name: FF_SCHEDULES[FF_SCHEDULE_KEYS[0]]['name'] },
        { value: FF_SCHEDULE_KEYS[1], name: FF_SCHEDULES[FF_SCHEDULE_KEYS[1]]['name'] },
        { value: FF_SCHEDULE_KEYS[2], name: FF_SCHEDULES[FF_SCHEDULE_KEYS[2]]['name'] },
    ]
    $(function() {
        init_schedule();
    });
</script>
{% endblock %}
